{% load static %}

<div id="nav">
  <ul>
    <li>
      <a 
      {% if '/recipies/' == request.path %}
        class="active"
      {% endif %}
      href="{% url 'show_recipies' %}">Opskrifter</a>
    </li>
    <li>
      <a 
      {% if '/foodplans/' == request.path %}
        class="active"
      {% endif %}
      href="{% url 'view_foodplans' %}">Madplaner</a>
    </li>
    <li>
      <a 
      {% if '/todo/' == request.path %}
        class="active"
      {% endif %}
      href="{% url 'todo_index' %}">Indkøbslister</a>
    </li>
  </ul>
</div>