
 <nav class="navbar">
  <ul class="dropdown">
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">
        <svg width="30" height="30" id="icoOpen">
          <path d="M0,6 30,6" stroke="#000" stroke-width="3"/>
          <path d="M0,15 30,15" stroke="#000" stroke-width="3"/>
          <path d="M0,24 30,24" stroke="#000" stroke-width="3"/>
        </svg>
      </a>
      
      <div class="dropdown-content">
        <a href="#">sdf</a>
        <a href="#">FAQ</a>
        <a href="#">Parkering</a>
        <a href="#">Statistik</a>
        <a href="#">Admin</a>
        <a href="#">Logud</a>
      </div>
    </li>
  </ul>
</nav>

