
 <nav class="navbar">
  <ul class="dropdown">
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">
        <svg width="25" height="25" id="icoOpen">
          <path d="M0,2 30,2" stroke="#000" stroke-width="3"/>
          <path d="M0,11 30,11" stroke="#000" stroke-width="3"/>
          <path d="M0,20 30,20" stroke="#000" stroke-width="3"/>
        </svg>
      </a>
      
      <div class="dropdown-content">
        <a href="{% url 'index_foodplans' %}">Madplan</a>
        <a href="{% url 'emptyfridge' %}">Tøm køleskabet</a>
        <a href="{% url 'new_recipe' %}">Ny opskrift</a>
      </div>
    </li>
  </ul>
</nav>

