{% extends 'base.html' %}

{% load static %}

{% block content %}


<h1 class="header">Tilføj retter til madplanen</h1>
<table>
  <colgroup>
      <col style="width: 50%;">
      <col style="width: 30%;">
      <col style="width: 20%;">
  </colgroup>
<tbody>
  {% for recipe in recipies %}
  <tr>
      <td>
          <a href="">
              <span>{{recipe.name}}</span>
          </a>
      </td>
      <td>
          <span>
            <span>{{recipe.type}}</span>
          </span>
      </td>
      <td>
            {% if recipe.id in foodplan_recipe_ids %}
                <form method="POST">
                    {% csrf_token %}
                    <button name="delete" value="{{recipe.id}}" type="submit">slet</button>
                </form>
                <!-- <a href="{% url 'delete_foodplan_recipe' foodplan_id recipe.id %}">
                    <span>Slet</span>
                </a> -->
            {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <button name="add" value="{{recipe.id}}" type="submit">tilføj</button>
                </form>
                <!-- <a href="{% url 'add_foodplan_recipe' foodplan_id recipe.id %}">
                    <span>Tilføj</span>
                </a> -->
            {% endif %}
      </td>
  </tr>
  {% endfor %}
</tbody>
</table>
    
  
{% endblock %}