{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5">
        <div class="overlay p-5">
            <h1 class="display-4 mb-4">
            Electronics Parts Inventory Manager
            </h1>
            <p class="lead">Electronic Parts Management made easy</p>
            
        </div>
        </div>
    </div>
    </section>

    <!-- Bottom Bar -->
    <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
        <div class="row text-center">
        <div class="col-md-4">
            <i class="fas fa-archive fa-4x mr-4"></i>
            <hr>
            <h3>Inventory Management</h3>
            <p>Keep track of your parts</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-file-pdf fa-4x mr-4"></i>
            <hr>
            <h3>Datasheets</h3>
            <p>Easy link datasheets to your parts</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-check fa-4x mr-4"></i>
            <hr>
            <h3>Check it out!</h3>
            <p>It's easy!</p>
        </div>
        </div>
    </div>
    </section>
{% endblock %}