{% extends 'base.html' %}

{% load static %}

{% block content %}


<h1 class="header">Tilføj retter til madplanen</h1>
<tr class="{% cycle 'row1' 'row2' %}">
  <!-- Thumbnail -->
  <td class="center aligned middle aligned">
          <div class="thumbnail">
            <img src="/media/{{ part.photo_thumbnail }}" alt="" height="25">
          </div>
  </td>

  <!-- Name -->
  <th class="middle aligned">
      <a href="">Mors kylling-karrygryde</a>
  </th>

  <!-- Type -->
  <td class="middle aligned">
    <a href="">Tilføj</a>
  </td>


  </td>
</tr>
    
  
{% endblock %}