{% extends 'base.html' %}

{% load static %}

{% block content %}
{% load l10n %}

<div class="recipe-top" style="background-image: url('/media/{{ recipe.photo_thumbnail }}');">
  <span class="recipe-header">
    <a href="{% url 'show_recipe' recipe.id %}" class="header"><h1 class="header">{{ recipe.name }}</h1></a>
    <p class="subheader">{{ recipe.description }}</p>
    {% if recipe.prep_time %}
      <div class="prep-time">
          <svg height="7pt" width="7pt" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <path d="M347.216,301.211l-71.387-53.54V138.609c0-10.966-8.864-19.83-19.83-19.83c-10.966,0-19.83,8.864-19.83,19.83v118.978    c0,6.246,2.935,12.136,7.932,15.864l79.318,59.489c3.569,2.677,7.734,3.966,11.878,3.966c6.048,0,11.997-2.717,15.884-7.952    C357.766,320.208,355.981,307.775,347.216,301.211z"/>
              <path d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.833,256-256S397.167,0,256,0z M256,472.341    c-119.275,0-216.341-97.066-216.341-216.341S136.725,39.659,256,39.659c119.295,0,216.341,97.066,216.341,216.341    S375.275,472.341,256,472.341z"/>
          </svg>
          {{recipe.prep_time}}
      </div>
      {% endif %}
    <a href="{% url 'edit_recipe_name' recipe.id %}">rediger</a>
  </span>
</div>

<div class="center container">

  <h5 class="header">Rediger ingrediensliste</h5>

  <div id="">
  <table class="center">
    <colgroup>
        <col style="width: 50%;">
        <col style="width: 20%;">
        <col style="width: 25%;">
        <col style="width: 5%;">
    </colgroup>
    <tbody>
    <form method="POST">
      {% csrf_token %}
      {% for recipe_ingredient in recipe_ingredients %}
      {% if recipe_ingredient.heading %}
      <tr style="background-color:hsl(214, 100%, 90%)">
        <th>
          <span class="bold-instr">{{ recipe_ingredient.heading.heading }}</span>
          <button type="submit" class="delete_cross" id="delete_heading" name="delete_heading" value="{{recipe_ingredient.heading.id}}">x</button>
        </th>
      </tr>
      {% else %}
      <tr>
        <td>
          <span>{{ recipe_ingredient.name }}</span>
        </td>
        <td>
          <span>{% if recipe_ingredient.description %} {{ recipe_ingredient.description }} {% endif %}</span>
        </td>
        <td>
          <span>{% if recipe_ingredient.recipe_ingredient_description %} {{ recipe_ingredient.recipe_ingredient_description }} {% endif %}</span>
        </td>
        <td>
          <input type="number" id="qty" name="qty" value="{{ recipe_ingredient.amount|unlocalize }}" lang="us-en" min="0" max="1000" step="0.1"> {{ recipe_ingredient.unit }}
          <input type="hidden" id="recipe_ingredient_id" name="recipe_ingredient_id" value="{{ recipe_ingredient.id }}">
        </td>
        <td>
          <button type="submit" class="delete_cross" id="delete_ingredient" name="delete_ingredient" value="{{recipe_ingredient.id}}">x</button>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <div class="center">
    <input type="text" id="heading" name="heading" value="" size="35" placeholder="Indsæt overskrift">
  </div>
  <div class="center">
    <button type="submit" name="edit_quantities">Gem</button>
  </div>
  </form>


  <div class="center">
  <h6>Tilføj en ingrediens</h6>
  <form method="POST" class="add-form">
    {% csrf_token %}
    <input type="text" list="ingredient_list" name="ingredient" placeholder="Vælg ingrediens..">
    <datalist id="ingredient_list">
      {% for ingredient in all_ingredients %}
        <option value="{{ingredient.id}}: {{ ingredient.name|title }}{% if ingredient.description %}, {{ingredient.description}} {% endif %}"></option>
      {% endfor  %}
    </datalist>
    <input type="text" name="description" value="" placeholder="beskrivelse..">
    <input type="number" name="qty" value="" placeholder="mængde" step="0.1" required>
    <select list="qty_units" name="qty_unit" value="" placeholder="enhed.." required>
      {% for unit in units %}
        <option value="{{ unit.unit_name }}">{{ unit.unit_name }}</option>
      {% endfor %}
    </select>
    <div class="center">
    <button type="submit" name="add_ingredient" value="">tilføj</button>
  </div>
  </form>
  </div>


  <a href="{% url 'new_ingredient' %}?next={{ request.path }}" class="center">Opret ny ingrediens</a>
  </div>


  <br>

  <h5 class="header">Rediger fremgangsmåde</h5>

  <div id="">
    <div class="center">
      <form method="POST" id="instructions">
        {% csrf_token %}
        {% for instruction in instructions %}
          <textarea class="center instr-text" name="textarea_instructions" form="instructions">{{instruction.description}}</textarea>
          <b>bold</b> tekst
          <input type="checkbox" name="isbold" value="{{instruction.id}}" {% if instruction.is_bold %} checked {% endif %} form="instructions">
        {% endfor %}
          <textarea class="center instr-text" name="new_instruction" form="instructions"></textarea>
          <b>bold</b> tekst
          <input type="checkbox" value="new_isbold" form="instructions" name="new_isbold">
        <div class="center">
        <button type="submit" name="edit_instructions">Gem</button>
      </div>
      </form>
    </div>
  </div>


  

  <div class="center">
    <h5 class="header">Rediger tags / link</h5>
    <form method="POST" ALIGN='center'>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="center">
        <button type="submit" name="edit_tags">Opdater</button>
      </div>
    </form>
  </div>
  
  <br>
  ----------------------------------
  <div class="center">
    <span>
      <a href="{% url 'delete_recipe' recipe.id %}" class="sml-button" style="background-color: rgba(255, 0, 0, 0.411);">Slet opskrift</a>
    </span>
  </div>

</div>
  
{% endblock %}