{% extends 'base.html' %}

{% load static %}

{% block content %}


<h1 class="header">Nyhus Kaaes Opskrifter</h1>
<table>
    <!-- <colgroup>
        <col style="width: 60%;">
        <col style="width: 25%;">
        <col style="width: 15%;">
    </colgroup> -->
<tbody>
    {% for recipe in recipies %}
    <tr>
        <td>
            <a href="{% url 'show_recipe' recipe.id %}">
                <span>{{recipe.name}}</span>
            </a>
        </td>
        <td>
            <span>{{recipe.type}}</span>
        </td>
        
    </tr>
    {% endfor %}
</tbody>
</table>

    
  
{% endblock %}