{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="center container">
    <table>
    <tbody>
        {% for recipe in recipies %}
        <tr class="recipe-info" style="background-image: url('/media/{{ recipe.photo_thumbnail }}')">
            <td class="recipe-label-td">
                <a href="{% url 'show_recipe' recipe.id %}">
                    <span class="recipe-label">{{recipe.name}}
                        <p class="sub-label">{{recipe.description}}</p>
                    </span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
    
  
{% endblock %}