{% extends 'base.html' %}

{% load static %}

{% block content %}
{% load l10n %}

<div class="">
  
  <div class="recipe-top" style="background-image: url('/media/{{ recipe.photo_thumbnail }}');">
    <span class="recipe-header">
      <h1 class="header">{{recipe.name}}</h1>
      <p class="subheader">{{recipe.description}}</p>
      {% if recipe.prep_time %}
      <div class="prep-time">
          <svg height="7pt" width="7pt" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <path d="M347.216,301.211l-71.387-53.54V138.609c0-10.966-8.864-19.83-19.83-19.83c-10.966,0-19.83,8.864-19.83,19.83v118.978    c0,6.246,2.935,12.136,7.932,15.864l79.318,59.489c3.569,2.677,7.734,3.966,11.878,3.966c6.048,0,11.997-2.717,15.884-7.952    C357.766,320.208,355.981,307.775,347.216,301.211z"/>
              <path d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.833,256-256S397.167,0,256,0z M256,472.341    c-119.275,0-216.341-97.066-216.341-216.341S136.725,39.659,256,39.659c119.295,0,216.341,97.066,216.341,216.341    S375.275,472.341,256,472.341z"/>
          </svg>
          {{recipe.prep_time}}
      </div>
      {% endif %}
    </span>
  </div>

  <div class="center-nav">
    <button class="nav-but active" id="but1" onclick="showBlock1()">Ingredienser</button>
    <button class="nav-but" id="but2" onclick="showBlock2()">Fremgangsmåde</button>
  </div>

  <div id="Block1" class="center container">
    <div class="center">
      <div class="flex">
        <form method="GET" name="qtymultiplier" action="{% url 'show_recipe' recipe.id %}">
          <input type="number" class="qty-multiplier" value="{{ qty_multiplier|unlocalize }}" lang="us-en" name="qtymultiplier" id="qtymultiplier" min="0" max="10" step="0.5">
          <label id="qty_multiplier">portioner</label>
        </form>
          <a href="{% url 'create_shoppinglist' recipe.id 'recipe' qty_multiplier %}" class="sml-button">Opret indkøbsseddel</a>
      </div>
    </div>

    <table class="center">
    <tbody class="table-body">
    {% for ingredient in ingredients %}
    {% if ingredient.heading %}
    </tbody>
    <th style="background-color:hsl(214, 100%, 90%)">
        <span class="bold-instr">{{ingredient.heading}}</span>
    </th>
    <tbody class="table-body">
    {% else %}
    <tr>
      <td>
        <span>{{ingredient.name}}</span>
      </td>
      <td>
        <span>{% if ingredient.description %} {{ingredient.description}} {% endif %}</span>
      </td>
      <td>
        <span>{% if ingredient.recipe_ingredient_description %} {{ingredient.recipe_ingredient_description}} {% endif %}</span>
      </td>
      <td>
        <span>{{ingredient.amount}} {{ingredient.unit}}</span>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
    </table>
  </div>

  <div id="Block2" class="center container">
    <ul class="center no-margin-top">
      {% for instruction in instructions %}
      {% if instruction.is_bold %}
      <li class="instructions bold-instr"> <b>{{ instruction.description }}</b> </li>
      {% else %}
      <li class="instructions">{{ instruction.description }}</li>
      {% endif %}
      
      {% endfor %}
    </ul>
    <div class="center">
      {% if recipe.URL %}
        <a href="{{ recipe.URL }}" target="_blank">{{ recipe.URL }}</a>
      {% endif %}
    </div>
  </div>


  <br>
  <a href="{% url 'edit_recipe' recipe.id %}" class="center">Rediger opskrift</a>
  <p class="small-text">Ændret {{recipe.date|date:'d/m/Y'}}</p>

</div>


<script>
  function showBlock1() {
    var block1 = document.getElementById("Block1");
    var block2 = document.getElementById("Block2");
    var but1 = document.getElementById("but1")
    var but2 = document.getElementById("but2")
    but1.classList.add('active');
    but2.classList.remove('active');
    block1.style.display = "block";
    block2.style.display = "none";
  }
  window.onload = showBlock1;
</script>

<script>
  function showBlock2() {
    var block1 = document.getElementById("Block1");
    var block2 = document.getElementById("Block2");
    var but1 = document.getElementById("but1")
    var but2 = document.getElementById("but2")
    but1.classList.remove('active');
    but2.classList.add('active');
    block1.style.display = "none";
    block2.style.display = "block";
  }
</script>
{% endblock %}