{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="">
  
  <div class="recipe-top" style="background-image: url('/media/{{ recipe.photo_thumbnail }}');">
    <span class="recipe-header">
      <h1 class="header">{{recipe.name}}</h1>
      <p class="subheader">{{recipe.description}}</p>
    </span>
  </div>

  <div class="center-nav">
    <button class="nav-but active" id="but1" onclick="showBlock1()">Ingredienser</button>
    <button class="nav-but" id="but2" onclick="showBlock2()">Fremgangsmåde</button>
  </div>

  <div id="Block1" class="center container">
    <table class="center">
    <tbody class="table-body">
    {% for ingredient in ingredients %}
    <tr>
      <td>
        <span>{{ingredient.name}}</span>
      </td>
      <td>
        <span>{% if ingredient.description %} {{ingredient.description}} {% endif %}</span>
      </td>
      <td>
        <span>{% if ingredient.recipe_ingredient_description %} {{ingredient.recipe_ingredient_description}} {% endif %}</span>
      </td>
      <td>
        <span>{{ingredient.amount}} {{ingredient.unit}}</span>
      </td>
      
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>

  <div id="Block2" class="center container">
    <ul class="center">
      {% for instruction in instructions %}
      {% if instruction.is_bold %}
      <li class="instructions" style="font-size: 110%;"> <b>{{ instruction.description }}</b> </li>
      {% endif %}
      <li class="instructions">{{ instruction.description }}</li>
      {% endfor %}
    </ul>
  </div>

  <br>
  <a href="{% url 'edit_recipe' recipe.id %}" class="center">Rediger opskrift</a>
  <p class="small-text">Ændret {{recipe.date|date:'d/m/Y'}}</p>

</div>


<script>
  function showBlock1() {
    var block1 = document.getElementById("Block1");
    var block2 = document.getElementById("Block2");
    var but1 = document.getElementById("but1")
    var but2 = document.getElementById("but2")
    but1.classList.add('active');
    but2.classList.remove('active');
    block1.style.display = "block";
    block2.style.display = "none";
  }
  window.onload = showBlock1;
</script>

<script>
  function showBlock2() {
    var block1 = document.getElementById("Block1");
    var block2 = document.getElementById("Block2");
    var but1 = document.getElementById("but1")
    var but2 = document.getElementById("but2")
    but1.classList.remove('active');
    but2.classList.add('active');
    block1.style.display = "none";
    block2.style.display = "block";
  }
</script>
{% endblock %}