{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="center container">
    <table class="center">
        {% if not shoppinglists %}
        <th>
            Ingen indkøbslister
        </th>
        {% endif %}
    <tbody class="table-body"></tbody>
        {% for shoppinglist in shoppinglists %}
        <tr>
            <td>
                <a href="{% url 'view_shoppinglist' shoppinglist.id %}">
                    {% if shoppinglist.completed %}
                    <strike><span>{{ shoppinglist.created|date:'l d/m/Y' }}</span></strike>
                    {% else %}
                    <span>{{ shoppinglist.created|date:'l d/m/Y' }}</span>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{% url 'change_name' shoppinglist.id %}">
                    {% if shoppinglist.completed %}
                    <strike><span>{{ shoppinglist.name }}</span></strike>
                    {% else %}
                    <span>{{ shoppinglist.name }}</span>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{% url 'delete_shoppinglist' shoppinglist.id %}">
                    <span>slet</span>
                </a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}