{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="center container">
    <table class="center">
    <tbody class="table-body">
        <th>
            Indkøbsliste for madplan oprettet:
        </th>
        {% for foodplan in foodplans %}
        <tr>
            <td>
                <a href="{% url 'view_shoppinglist' foodplan.foodplan_id %}">
                    <span>{{foodplan.date|date:'l d/m/Y' }}</span>
                </a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}