{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="center container">
    <table class="center">
    <tbody class="table-body">
        <th>
            Indkøbsliste oprettet:
        </th>
        {% for shoppinglist in shoppinglists %}
        <tr>
            <td>
                <a href="{% url 'view_shoppinglist' shoppinglist.quary.id %}">
                    <span>{{shoppinglist.quary.created|date:'l d/m/Y' }}</span>
                </a>
            </td>
            <td>
                {{ shoppinglist.source_name }}
            </td>

        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}