{% extends 'base.html' %}

{% load static %}

{% block content %}


<h1 class="header">Tilføj retter til madplanen</h1>
<a href="{% url 'view_foodplan' foodplan_id %}" class="center">Se madplanen</a>

<table>
    <col style="width: 60%;">
    <col style="width: 30%;">
<tbody>
{% for recipe in all_recipies %}
<tr>
    <td>
        <a href="">
            <span>{{recipe.name}}</span>
        </a>
    </td>
    <td>
        <form method="POST">
            {% csrf_token %}
            
            {% if recipe.id in foodplan_recipies %}
                <!-- then search for associated quantity -->
                {% for foodplan_recipe in foodplan %}
                    {% if foodplan_recipe.recipe_id == recipe.id %}
                            <input type="number" id="quantity" value="{{foodplan_recipe.quantity}}" name="quantity" min="1" max="5">
                    {% endif %}
                {% endfor %}

                <button name="delete" value="{{recipe.id}}" type="submit">slet</button>

            {% else %}
                <input type="number" id="quantity" value="1" name="quantity" min="1" max="5">
                <button type="submit" name="add" value="{{recipe.id}}">tilføj</button>
        
            {% endif %}
            
        </form>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
    

{% endblock %}