{% extends 'base.html' %}

{% load static %}

{% block content %}

<br>
<div class="center container">
    <a href="{% url 'create_foodplan' %}" class="button">
        <span>Ny madplan</span>
    </a>
    <br>

    <table class="center">
    <tbody class="table-body">
        <th>
            Madplan oprettet:
        </th>
        {% for foodplan in foodplans %}
        <tr>
            <td>
                <a href="{% url 'view_foodplan' foodplan.id %}">
                    <span>{{foodplan.date|date:'l d/m/Y' }}</span>
                </a>
            </td>
            <td>
                <a href="{% url 'delete_foodplan' foodplan.id %}">
                    <span>slet</span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    
  
{% endblock %}