{% extends 'base.html' %}

{% load static %}

{% block content %}


<h1 class="header">Madplaner</h1>
<div class="center">
    <a href="{% url 'create_foodplan' %}" class="button">
        <span>Ny madplan</span>
    </a>
    <br>
    ---------------------
    <br>
    <h4>Tidligere madplaner</h4>

    <table class="center">
    <tbody>
        {% for foodplan in foodplans %}
        <tr>
            <td>
                <a href="{% url 'view_foodplan' foodplan.foodplan_id %}">
                    <span>{{foodplan.date|date:'D d/m/Y' }}</span>
                </a>
            </td>
            <td>
                <a href="{% url 'delete_foodplan' foodplan.foodplan_id %}">
                    <span>slet</span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    
  
{% endblock %}