{% extends 'base.html' %}

{% load static %}

{% block content %}


<h1 class="header">Madplan</h1>
<p class="center sml-text">Ændret {{created_date|date:'d/m/Y'}}</p>
<br>

<div class="center container">


{% if not complete %}
<h4 class="header">
    <a href="{% url 'create_shoppinglist' foodplan_id 'foodplan' '1' %}">
    <span>
       Opret indkøbsliste
        <p class="sub-text">madplanen kan ikke længere redigeres</p>
    </span>
    </a>
</h4>



<table class="center">
    <tbody>
        <form method="POST">
        {% csrf_token %}
        {% for recipe in recipies %}
        <tr>
            <td>
                <a href="{% url 'show_recipe' recipe.recipe_obj.id %}">
                    <span>{{ recipe.recipe_obj.name }}</span>
                </a>
            </td>
            <td>
                <input type="number" id="qty" value="{{ recipe.foodplan_obj.quantity }}" name="qty" min="1" max="5">
                <input type="hidden" id="foodplanrecipies_id" name="foodplanrecipies_id" value="{{ recipe.foodplan_obj.id }}">
            </td>
            <td>
                <button type="submit" class="delete_cross" name="delete_recipe" value="{{ recipe.foodplan_obj.id }}">x</button>
            </td>
        </tr>
        {% endfor %}  
    </tbody>
</table>
<div class="center">
    <button type="submit" name="edit_quantity">gem</button>
</div>
</form>

<a href="{% url 'edit_foodplan' foodplan_id %}" class="center">Tilføj andre retter</a>


{% else %}
<h5 class="header">
    <a href="{% url 'view_shoppinglist' shoppinglist_id %}">
    <span>Se indkøbsliste</span>
    </a>
</h5>
<br>
<table>
    <tbody>
        {% for recipe in recipies %}
        <tr class="recipe-info" style="background-image: url('/media/{{ recipe.recipe_obj.photo_thumbnail }}')">
            <td class="recipe-label-td">
                <a href="{% url 'show_recipe' recipe.recipe_obj.id %}">
                    <span class="recipe-label">{{recipe.recipe_obj.name}}
                        <p class="sub-label">{{recipe.recipe_obj.description}}</p>
                    </span>
                </a>
            </td>
        </tr>
        {% endfor %}  
    </tbody>
</table>
{% endif %}

</div>
{% endblock %}